@font-face {
    font-family: 'MyCustomFont'; 
    src: url('font/futura\ medium\ bt.ttf') format('truetype')
}
@font-face {
    font-family: 'jane';
    src: url('font/JaneAust.ttf') format('truetype')
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1512px !important;
}

/* NAVBAR */

.navbar-main{
    height: 69px;
    background-color: rgba(126, 92, 85, 0.8);
    
}

.navOne{
    display: flex;
}

.menu{
    margin-left: 270px;
}

.menu a{
    font-family: 'MyCustomFont', sans-serif;

    font-size: 14px;
    letter-spacing: 5px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 90px;
    display: inline-block;
}

.brand{
    margin-top: 22px;
}
/* NAVBAR END */

/* CONTAINER MAIN */

.container-main img{
    position: absolute;
    top: 0;
    z-index: -2;
    height: 1079px;
    width: auto;
}

.main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.arrivals{
    font-size: 91px;
    letter-spacing: 5px;
    margin-top: 276px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-text{
    margin-top: 115px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    font-weight: 3px;
    font-size: 23px;
    text-align: center;
}

.btn-main{
    margin-top: 70px;
    width: 200px;
    height: 52px;
    background-color: #56534c;
    color: white;
    border: none;
    letter-spacing: 3px;
    font-size: 14px;
}

/* CONTAINER END */

/* Container Sec */

.container-sec {
    position: relative;
    margin-top: 250px; 
    background-color: #f8f8f8; 
}

.container-sec img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.container-sec {
    position: relative;
}


.section-title{
    position: absolute;
    top: 226px;
    left: 486px;
    text-align: center; 
    color: #795f5a;
    font-size: 52px;
    letter-spacing: 15px;
    font-family: 'MyCustomFont', sans-serif;

}

.section-desc{
    position: absolute;
    top: 400px;
    left: 410px;
    text-align: center; 
    color: #795f5a;
    letter-spacing: 2px;
    font-size: 24px;
    
}
.section-desc-two{
    position: absolute;
    top: 500px;
    left: 520px;
    text-align: center; 
    color: #862313;
    font-size: 29px;
    font-family: 'Jane', sans-serif;
}
/* Container Sec END */

/* Container Third */

.container-third{
    position: relative;
    background-color: #f8f8f8; 
    height: auto;
}

.pet{
    position: absolute;
    left: 830px;
    top: 240px;
    color: #6d514b;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 47px;
    letter-spacing: 10px;
}

.rec2{
    position: absolute;
   
    right: 272px;
}

.rec1{
    position: absolute;
    left: 272px;
}